body {
background-image: url(./img/bg.jpg);
background-repeat: no-repeat;
background-size: cover;
}

.carousel-container {
    height:100vh;
    /* width: 100%; */
}

#links {
    font-size: 2rem;
}

#text {
    text-shadow: 7px 7px 7px black;
}
.form-container {
    height: 100vh;
}

img {
    width: 100%;
    height: 35vw;
    object-fit: cover;
}

.card-group {
    margin-top: 3em;
}

/* .card-body {
    d-flex;
    flex-column;
} */

.contact {
    text-align: center;
    border: solid 5px black;
    width: 250px;
    height: 200px;
    background-color: lightblue;
    margin-top: 200px;
    margin-left: 40%;
}

#contact {
    background-color: lightblue;
    text-align: center;
    border: double 8px darkblue;
    width: 40%;
    height: 30%;
    margin: auto;
    margin-top: 15%;
}

footer {
    background-color: darkblue;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    font-size: small;
    text-align: right;
}

/* #footer {
    background-color: darkblue;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    font-size: small;
    text-align: right;
} */

  #mystuff {
    display: block;
    margin-left: auto;
    margin-right: 55px;
    width: 50%;
  }

#middle {
border: 5px solid black;
background-color: white;
margin: auto;
margin-bottom: 25px;
font-size: 1.5em;
}


#name {
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 2em;
}

#download {
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 1em;
}
